# Q1. write a progam to accept percentage from the user and display the grade according to the following criteria:

In [2]:
percentage = float(input("Enter the percentage: "))

if percentage > 90:
    print("Grade A")
elif percentage > 80 and percentage <= 90:
    print("Grade B")
elif percentage >= 60 and percentage <= 80:
    print("Grade C")
else:
    print("Grade D")

Enter the percentage:  88

Grade B

# Q2. write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria

In [3]:
cost_price = float(input("Enter the cost price of the bike: "))

if cost_price > 100000:
    road_tax = cost_price * 0.15
elif cost_price > 50000 and cost_price <= 100000:
    road_tax = cost_price * 0.10
else:
    road_tax = cost_price * 0.05

print("The road tax to be paid is Rs. ", road_tax)

Enter the cost price of the bike:  599

The road tax to be paid is Rs.  29.950000000000003

# Q3. Accept any city from the user and display monuments of that city

In [12]:
city = input("Enter the city name: ")

if city.lower() == "delhi":
    print("The monument of Delhi is Red Fort.")
elif city.lower() == "agra":
    print("The monument of Agra is Taj Mahal.")
elif city.lower() == "jaipur":
    print("The monument of Jaipur is Jal Mahal.")
else:
    print("Sorry, we do not have information about the monument of", city + ".")

Enter the city name:  jaipur

The monument of Jaipur is Jal Mahal.

# Q4. check how many times a given number can be devided by 3 before it is less than or equal to 10.

In [1]:
number = int(input("Enter a number: "))
count = 0

while number > 10:
    number /= 3
    count += 1

print("The number can be divided by 3", count, "times before it is less than or equal to 10.")

Enter a number:  4

The number can be divided by 3 0 times before it is less than or equal to 10.

# Q5. why and when to use while loop in python give a detailed description with example

A while loop is a type of loop in Python that is used to repeatedly execute a block of code as long as a certain condition is true. The condition is checked at the beginning of each iteration of the loop, and if it is true, the loop body is executed. This process continues until the condition becomes false.

While loops are commonly used in Python for a variety of tasks, such as iterating over a sequence, processing data, and controlling program flow. They are particularly useful when the number of iterations required is not known in advance, or when the loop needs to continue until a certain condition is met.

Here's an example that demonstrates how a while loop can be used to repeatedly prompt the user to enter a positive integer until a valid input is received:

In [2]:
number = 0

while number <= 0:
    number = int(input("Enter a positive integer: "))

print("You entered:", number)

Enter a positive integer:  3

You entered: 3

Another example of using a while loop is to calculate the sum of numbers from 1 to n. Here's how you can use a while loop to achieve this:

In [3]:
n = int(input("Enter a positive integer: "))
sum = 0
i = 1

while i <= n:
    sum += i
    i += 1

print("The sum of numbers from 1 to", n, "is", sum)

Enter a positive integer:  45

The sum of numbers from 1 to 45 is 1035

# Q6. use nested while loop to print 3 different pattern

### Pattern 1:

*
**
***
****
*****

In [5]:
# Pattern 1

i = 1

while i <= 5:
    j = 1
    while j <= i:
        print("*", end="")
        j += 1
    print()
    i += 1

*
**
***
****
*****

### Pattern 2:

1
12
123
1234
12345

In [6]:
# Pattern 2

i = 1

while i <= 5:
    j = 1
    while j <= i:
        print(j, end="")
        j += 1
    print()
    i += 1

1
12
123
1234
12345

### Pattern 3:

1
22
333
4444
55555

In [7]:
# Pattern 3

i = 1

while i <= 5:
    j = 1
    while j <= i:
        print(i, end="")
        j += 1
    print()
    i += 1

1
22
333
4444
55555

# Q7. Reverse a while loop to display numbers 10 to 1

In [8]:
num = 10

while num >= 1:
    print(num)
    num -= 1

10
9
8
7
6
5
4
3
2
1

# Q8. Reverse a while loop to display numbers 1 to 10

In [9]:
num = 1

while num <= 10:
    print(num)
    num += 1

1
2
3
4
5
6
7
8
9
10